# =====================================================
# DATABASE
# =====================================================

# Tên database
DB_NAME=systemcv_db

# Dùng khi chạy Spring Boot trực tiếp trên Windows/IntelliJ
DB_URL=jdbc:mariadb://localhost:3307/systemcv_db?useSSL=false&serverTimezone=UTC

DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password


# =====================================================
# JWT
# =====================================================

JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=3600000


# =====================================================
# MINIO
# =====================================================

MINIO_ROOT_USER=your_minio_username
MINIO_ROOT_PASSWORD=your_minio_password

# Dùng khi chạy Spring Boot trực tiếp trên Windows/IntelliJ
MINIO_ENDPOINT=http://localhost:9000