<header class="header fixed-top clearfix">

    <!-- Logo / Role -->
    <div class="brand">

        <a href="../dashboard/index.html"
           class="logo"
           id="header-role">
        
        </a>

        <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
        </div>

    </div>


    <!-- Top menu -->
    <div class="nav notify-row" id="top_menu">

        <ul class="nav top-menu">

            <!-- Tasks -->
            <li id="header_task_bar" class="dropdown">

                <a data-toggle="dropdown"
                   class="dropdown-toggle"
                   href="#">

                    <i class="fa fa-tasks"></i>

                    <span class="badge bg-success"
                          id="task-count">
                        0
                    </span>

                </a>

                <ul class="dropdown-menu extended tasks-bar">

                    <li>
                        <p id="task-message">
                            Không có công việc mới
                        </p>
                    </li>

                </ul>

            </li>


            <!-- Notification -->
            <li id="header_notification_bar" class="dropdown">

                <a data-toggle="dropdown"
                   class="dropdown-toggle"
                   href="#">

                    <i class="fa fa-bell-o"></i>

                    <span class="badge bg-warning"
                          id="notification-count">
                        0
                    </span>

                </a>

                <ul class="dropdown-menu extended notification">

                    <li>
                        <p id="notification-message">
                            Không có thông báo mới
                        </p>
                    </li>

                    <li>
                        <a href="../notification/index.html">

                            <span class="label label-primary">
                                <i class="fa fa-bell"></i>
                            </span>

                            Xem tất cả thông báo

                        </a>
                    </li>

                </ul>

            </li>

        </ul>

    </div>


    <!-- User menu -->
    <div class="top-nav clearfix">

        <ul class="nav pull-right top-menu">

            <!-- Search -->
            <li>

                <input type="text"
                       class="form-control search"
                       placeholder=" Search">

            </li>


            <!-- User -->
            <li class="dropdown"
                id="header-user-menu">

                <a data-toggle="dropdown"
                   class="dropdown-toggle"
                   href="#">

                <img alt="User Avatar"
                    src="../../assets/images/2.png">

                    <span class="username"
                          id="header-username">
                        User
                    </span>

                    <b class="caret"></b>

                </a>


                <ul class="dropdown-menu extended logout">

                    <li>
                        <a href="#">

                            <i class="fa fa-suitcase"></i>

                            Profile

                        </a>
                    </li>


                    <li>
                        <a href="#">

                            <i class="fa fa-cog"></i>

                            Settings

                        </a>
                    </li>


                    <li>
                        <a href="#"
                           id="logout-button">

                            <i class="fa fa-key"></i>

                            Log Out

                        </a>
                    </li>

                </ul>

            </li>

        </ul>

    </div>

</header>