<header class="header fixed-top clearfix"
        th:fragment="header"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- Logo / Role -->
    <div class="brand">
        <a th:href="@{/dashboard}"
           class="logo"
           th:text="${#strings.replace(#authentication.authorities[0].authority, 'ROLE_', '')}">
            SYSTEMANAGERCV
        </a>

        <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
        </div>
    </div>

    <!-- Top menu -->
    <div class="nav notify-row" id="top_menu">
        <ul class="nav top-menu">

            <!-- Tasks -->
            <li id="header_task_bar" class="dropdown">
                <a data-toggle="dropdown"
                   class="dropdown-toggle"
                   href="#">
                    <i class="fa fa-tasks"></i>
                    <span class="badge bg-success">0</span>
                </a>

                <ul class="dropdown-menu extended tasks-bar">
                    <li>
                        <p class="">Không có công việc mới</p>
                    </li>
                </ul>
            </li>

            <!-- Notification -->
            <li id="header_notification_bar" class="dropdown">
                <a data-toggle="dropdown"
                   class="dropdown-toggle"
                   href="#">
                    <i class="fa fa-bell-o"></i>
                    <span class="badge bg-warning">0</span>
                </a>

                <ul class="dropdown-menu extended notification">
                    <li>
                        <p class="">Không có thông báo mới</p>
                    </li>

                    <li>
                        <a th:href="@{/notifications}">
                            <span class="label label-primary">
                                <i class="fa fa-bell"></i>
                            </span>
                            Xem tất cả thông báo
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>

    <!-- User menu -->
    <div class="top-nav clearfix">

        <ul class="nav pull-right top-menu">

            <!-- Search -->
            <li>
                <input type="text"
                       class="form-control search"
                       placeholder=" Search">
            </li>

            <!-- User -->
            <li class="dropdown"
                sec:authorize="isAuthenticated()">

                <a data-toggle="dropdown"
                   class="dropdown-toggle"
                   href="#">

                    <img alt="User Avatar"
                         th:src="@{/assets/images/2.png}">

                    <span class="username"
                          sec:authentication="name">
                    </span>

                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu extended logout">

                    <li>
                        <a href="#">
                            <i class="fa fa-suitcase"></i>
                            Profile
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-cog"></i>
                            Settings
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/logout}">
                            <i class="fa fa-key"></i>
                            Log Out
                        </a>
                    </li>

                </ul>

            </li>

        </ul>

    </div>

</header>