<head th:fragment="head"
      xmlns:th="http://www.thymeleaf.org">

    <title>SystemanagerCV</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Bootstrap -->
    <link rel="stylesheet"
          th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Custom CSS -->
    <link rel="stylesheet"
          th:href="@{/assets/css/style.css}"
          type="text/css">

    <link rel="stylesheet"
          th:href="@{/assets/css/style-responsive.css}">

    <link rel="stylesheet"
          th:href="@{/assets/css/bootstrap.min.css}">

    <link rel="stylesheet"
          th:href="@{/assets/css/style.css}"
          type="text/css">

    <link rel="stylesheet"
          th:href="@{/assets/css/style-responsive.css}">

    <link rel="stylesheet"
          th:href="@{/assets/css/systemanagercv.css}">

    <!-- Font -->
    <link rel="stylesheet"
          th:href="@{/assets/css/font.css}"
          type="text/css">

    <!-- Font Awesome -->
    <link rel="stylesheet"
          th:href="@{/assets/css/font-awesome.css}">

    <!-- Morris -->
    <link rel="stylesheet"
          th:href="@{/assets/css/morris.css}"
          type="text/css">

    <!-- Calendar -->
    <link rel="stylesheet"
          th:href="@{/assets/css/monthly.css}">

    <!-- Project CSS -->
    <link rel="stylesheet"
          th:href="@{/assets/css/addcategoryview.css}">

    <link rel="stylesheet"
          th:href="@{/assets/css/viewcategory.css}">

    <link rel="stylesheet"
          th:href="@{/assets/css/editUser.css}">

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,500,700,900">

    <!-- jQuery -->
    <script th:src="@{/assets/js/jquery2.0.3.min.js}"></script>

    <!-- Raphael -->
    <script th:src="@{/assets/js/raphael-min.js}"></script>

    <!-- Morris -->
    <script th:src="@{/assets/js/morris.js}"></script>

</head>